In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

# model_file_name = open('rt.sav','r')
# model = pickle.load(model_file_name)

In [2]:
train = pd.read_csv("tra.csv")
test = pd.read_csv("tes.csv")
train=train.drop('Property_Area',axis=1)
test=test.drop('Property_Area',axis=1)

In [3]:
train.shape, test.shape

((614, 12), (367, 11))

In [4]:
train['Loan_Status'].replace('N', 0, inplace=True)
train['Loan_Status'].replace('Y', 1, inplace=True)
train['Education'].replace('Not Graduate', 0, inplace=True)
train['Education'].replace('Graduate', 1, inplace=True)
test['Education'].replace('Not Graduate', 0, inplace=True)
test['Education'].replace('Graduate', 1, inplace=True)
train['Married'].replace('No', 0, inplace=True)
train['Married'].replace('Yes', 1, inplace=True)
test['Married'].replace('No', 0, inplace=True)
test['Married'].replace('Yes', 1, inplace=True)
train['Gender'].replace('Female', 0, inplace=True)
train['Gender'].replace('Male', 1, inplace=True)
test['Gender'].replace('Female', 0, inplace=True)
test['Gender'].replace('Male', 1, inplace=True)
train['Self_Employed'].replace('No', 0, inplace=True)
train['Self_Employed'].replace('Yes', 1, inplace=True)
test['Self_Employed'].replace('No', 0, inplace=True)
test['Self_Employed'].replace('Yes', 1, inplace=True)
train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,LP001002,1.0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,1
1,LP001003,1.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,0
2,LP001005,1.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,1
3,LP001006,1.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,1
4,LP001008,1.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0.0,0.0,0,1,0.0,2900,0.0,71.0,360.0,1.0,1
610,LP002979,1.0,1.0,3+,1,0.0,4106,0.0,40.0,180.0,1.0,1
611,LP002983,1.0,1.0,1,1,0.0,8072,240.0,253.0,360.0,1.0,1
612,LP002984,1.0,1.0,2,1,0.0,7583,0.0,187.0,360.0,1.0,1
613,LP002990,0.0,0.0,0,1,1.0,4583,0.0,133.0,360.0,0.0,0

In [5]:
train['Dependents']=train['Dependents'].replace(to_replace={'3+':'3'}, inplace=False)
test['Dependents']=test['Dependents'].replace({'3+':'3'}, inplace=False)

In [6]:
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0], inplace=True)
train['LoanAmount'].fillna(train['LoanAmount'].median(), inplace=True)

In [7]:
train['Gender'].fillna(train['Gender'].mode()[0], inplace=True)
train['Married'].fillna(train['Married'].mode()[0], inplace=True)
train['Dependents'].fillna(train['Dependents'].mode()[0], inplace=True)
train['Credit_History'].fillna(train['Credit_History'].mode()[0], inplace=True)
train['Self_Employed'].fillna(train['Self_Employed'].mode()[0], inplace=True)

In [8]:
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0], inplace=True)
train['LoanAmount'].fillna(train['LoanAmount'].median(), inplace=True)

In [9]:
test['Gender'].fillna(train['Gender'].mode()[0], inplace=True)
test['Dependents'].fillna(train['Dependents'].mode()[0], inplace=True)
test['Credit_History'].fillna(train['Credit_History'].mode()[0], inplace=True)
test['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0], inplace=True)
test['LoanAmount'].fillna(train['LoanAmount'].median(), inplace=True)

In [10]:
train = train.drop('Loan_ID', axis=1)
test = test.drop('Loan_ID', axis=1)
test = test.drop('Credit_History', axis=1)
train.dtypes

Gender               float64
Married              float64
Dependents            object
Education              int64
Self_Employed        float64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Loan_Status            int64
dtype: object

In [11]:
X = train.drop('Loan_Status', axis=1)
y = train.Loan_Status

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
x_train, x_cv, y_train, y_cv = train_test_split(X, y, test_size=0.3, random_state=0)
model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(x_train, y_train)
pred_cv = model.predict(x_cv)

In [13]:
accuracy_score(y_cv, pred_cv)

0.8324324324324325

In [14]:
filename= 'Final_Loan_Model.sav'
pickle.dump(model, open(filename, 'wb'))

In [15]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict(x_cv)